/* my-orders.component.css */
.container {
    max-width: 800px;
    margin: auto;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .example-header-image {
    background-image: url('https://res.cloudinary.com/dtd9fre4r/image/upload/t_squarez/v1631715649/4-2-smiling-face-with-sunglasses-cool-emoji-png_wycbxj.png');
    background-size: cover;
  }
  